#f1{
    background-color: #2574a9;
    width: 98%;
    height: 100px;
    float: left;
    padding: 1em;
    border: 1px solid silver;
}

#f2{
    background-color: #9a12b3;
    width: 98%;
    height: 200px;
    float: left;
    padding: 1em;
    border: 1px solid silver;
}
#f3{
    background-color: #db0a5b;
    width: 98%;
    height: 200px;
    float: left;
    padding: 1em;
    border: 1px solid silver;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height: 80px;
    width: 8%;
}
li{
    margin-top: 2px;
}
#l1{
    background-color: #2574a9;
}
#l2{
    background-color: #9a12b3;
}
#l3{
    background-color: #db0a5b;
}
ul li{
    list-style: none;
}